
header{text-align:center ;background-color: rgb(26, 20, 20);}
h1{color: white;}
p{color: white;}
nav{background-color: aqua; padding: 10px; font-size: large; word-spacing: 30px; color:black;}
.nav a:hover{color: red;}
.notes {display: flex; align-items: flex-start;}
.upendo{border: 2px solid black; color:black;background-color: black;
 padding: 20px;margin: 20px; width: 70%;float: left;}
 .love {border: 2px solid black;padding: 20px;margin: 20px;
     width: 20%;background-color: black; display: inline-block;}
     .picha{display:flex; width: 100%; gap: 20px;}
     .huduma {display: flex;align-items: flex-start;}
     .hud {background-color:  rgb(241, 233, 241);}
.footer{color: rgb(250, 247, 247); background-color: rgb(14, 17, 16); text-align: center;}
.maelz{background-color: aqua; float: right;}